@{
    ViewBag.Title = "Recuperação de Senha";
}

</br>
</br>
</br>
<h2>Recuperação de Senha</h2>

<p>Falta implementar!</p>
<p>Como as Senhas são Criptografadas não é possível enviar a senha para o usuário.</br>
É necessário implementar um código que envia um link para o Email do usuário e o permita definir uma nova senha.
</p>
